.center{
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,500,700|Roboto:300,400,500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #777777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold; }

button:focus {
  outline: none;
  box-shadow: none; }

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px; }

.pad_top {
  padding-top: 120px; }

.pad_btm {
  padding-bottom: 120px; }

.mt-25 {
  margin-top: 25px; }

.p0 {
  padding-left: 0px;
  padding-right: 0px; }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px; } }

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto; } }
.white_bg {
  background: #fff !important; }

/* Main Title Area css
============================================================================================ */

.main_title {
  text-align: center;
  margin-bottom: 75px; }

/* End Main Title Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/


.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear; }
  .header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px; }
    .header_area .navbar .navbar-brand img + img {
      display: none; }
    .header_area .navbar .nav .nav-item {
      margin-right: 45px; }
      .header_area .navbar .nav .nav-item .nav-link {
        font: 500 13px/68px "Roboto", sans-serif;
        text-transform: uppercase;
        color: #fff;
        padding: 0px;
        display: inline-block; }
        .nav--hover:hover {
          color: #007bff !important;
        }
        .header_area .navbar .nav .nav-item .nav-link:after {
          display: none; }
      .header_area .navbar .nav .nav-item.submenu {
        position: relative; }
        .header_area .navbar .nav .nav-item.submenu ul {
          border: none;
          padding: 0px;
          border-radius: 0px;
          box-shadow: none;
          margin: 0px;
          background: #fff; }
          @media (min-width: 992px) {
            .header_area .navbar .nav .nav-item.submenu ul {
              position: absolute;
              top: 120%;
              left: 0px;
              min-width: 200px;
              text-align: left;
              opacity: 0;
              transition: all 300ms ease-in;
              visibility: hidden;
              display: block;
              border: none;
              padding: 0px;
              border-radius: 0px;
              box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.3); } }
          .header_area .navbar .nav .nav-item.submenu ul:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #eeeeee transparent transparent transparent;
            position: absolute;
            right: 24px;
            top: 45px;
            z-index: 3;
            opacity: 0;
            transition: all 400ms linear; }
/* FOOTER
============================================================================================ */
.footer_area {
  background: rgb(0 8 37);
}
.f_title {
  color: #fff;
}

.blog_banner {
  min-height: 780px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 0px; }
  .blog_banner .banner_inner {
    background: #04091e;
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px;
    z-index: 1; }
    .blog_banner .banner_inner .overlay {
      background: url(../../images/banner-2.jpg) no-repeat scroll center center;
      opacity: .5;
      height: 125%;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      z-index: -1; }
    .blog_banner .banner_inner .blog_b_text {
      max-width: 700px;
      margin: auto;
      color: #fff;
      margin-top: 40px; }
      .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 60px;
        font-weight: bold;
        line-height: 66px;
        margin-bottom: 15px;
        text-transform: uppercase; }
      .blog_banner .banner_inner .blog_b_text p {
        font-size: 16px;
        margin-bottom: 35px; }
      .blog_banner .banner_inner .blog_b_text .white_bg_btn {
        line-height: 42px;
        padding: 0px 45px; }

.banner_box {
  max-width: 1620px;
  margin: auto; }

.banner_area {
  position: relative;
  z-index: 1;
  min-height: 430px; }
  .banner_area .banner_inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 430px;
    background: #000;
    z-index: 1; }
    .banner_area .banner_inner .overlay {
      background: url(../../images/banner-2.jpg) no-repeat scroll center center;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 125%;
      bottom: 0;
      z-index: -1;
      opacity: .40; }
    .banner_area .banner_inner .banner_content {
      margin-top: 70px; }
      .banner_area .banner_inner .banner_content h2 {
        color: #fff;
        font-size: 48px;
        font-family: "Heebo", sans-serif;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-weight: bold; }
      .banner_area .banner_inner .banner_content .page_link a {
        font-size: 14px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        margin-right: 32px;
        position: relative; }
        .banner_area .banner_inner .banner_content .page_link a:before {
          content: "\e87a";
          font-family: 'Linearicons-Free';
          font-size: 14px;
          position: absolute;
          right: -25px;
          top: 54%;
          transform: translateY(-50%); }
        .banner_area .banner_inner .banner_content .page_link a:last-child {
          margin-right: 0px; }
          .banner_area .banner_inner .banner_content .page_link a:last-child:before {
            display: none; }

/* ========================================CSS REACT MARCÃO ======================================= */
.title-home {
  margin: 10px 0;
}
.btn-insta {
  background: #007bff;
  color: #eee;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  width: 200px;
  border-radius: 3px;
  transition: 1s;
}
.btn-insta:hover {
  background: blue;
  transition: 1s;
}
.img-felps {
  width: 98%;
  height: 100%;
}
.img-home {
  width: 100%;
}
.icon {
  cursor: pointer;
  margin: 0 10px;
  color: black;
  transition: 175ms;
}
.icon:hover {
  color: #007bff;
  transition: 175ms;
}
.img-films {
  width: 100%;
  height: 50%;
}
.img-films2 {
  width: 100%;
  height: 50%;
}
.card-filmes-margin {
  margin-top: 20px;
}
.card-starships--margin {
  margin: 15px 50px;
}